body {
  background-color: #480866;
  color: #ffffff;
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  margin-top: 0;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 20px;
}

p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 10px;
}

a {
  color: #9797e6;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Стили для заголовка */

header {
  background-color: #f2f2f2;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  color: #433896;
  font-size: 5em;
  margin-top: 0;
}

header nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

header nav a {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #433896;
  color: #ffffff;
  text-decoration: none;
}

header nav a:hover {
  background-color: #433896;
  color: #ffffff;
  text-decoration: none;
}

/* Стили для основного содержимого */

main {
  padding: 20px 0;
}

main section {
  margin-bottom: 20px;
}

main section img {
  margin-bottom: 20px;
}

/* Стили для футера */

footer {
  background-color: #ffffff;
  color: #333333;
  padding: 20px 0;
  text-align: center;
}

/* Добавление цветовых сочетаний */

body {
  background-color: #480866;
  color: #ffffff;
  font-family: Roboto, sans-serif;
}

h1 {
  color: #433896;
}

h2 {
  color: #322a70;
}

a {
  color: #9797e6;
  text-decoration: none;
}

img {
  border: 1px solid #9797e6;
}

/* Добавление кнопок и ссылок */

.button {
  background-color: #433896;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #433896;
  color: #ffffff;
  text-decoration: none;
}

.link {
  color: #9797e6;
  text-decoration: none;
}

.link:hover {
  color: #ffffff;
  text-decoration: underline;
}
